<nav class="navbar navbar-light bg-light" id="navbar">
  <div class="container-fluid">
  <nav class="navbar navbar-light bg-light title">
  <span class="navbar-brand mb-0 h1"><img src="http://i.imgur.com/iAd6piz.gif" style="width: 7%; height: auto; margin-right: 2%;">Pokémon Team Generator</span>
</nav>
    <ul class="navbar-nav mr-auto"></ul>
      <span class='navbar-text'>Powered by pokéAPI</span>
    </div>
</nav>
