@import "ember-bootstrap/bootstrap";
.center{
  margin: auto;
}

.textcenter{
  text-align: center;
}

html {
  font-size: 1rem;
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.1rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.2rem;
  }
}

.center-text{
  text-align: center;
}

.spinner-display{
  top: 20% !important;
}

.poke-profile{
  background-color: lightgray;
  border-color: white;
  margin: 2%;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
  vertical-align: middle !important;
}

.sprite-display{
  margin: 15%;
  -webkit-transform: skew(-20deg) !important;
	-moz-transform: skew(-20deg) !important;
	-o-transform: skew(-20deg) !important;
}

.information{
  margin: 10%;
  -webkit-transform: skew(-20deg) !important;
	-moz-transform: skew(-20deg) !important;
	-o-transform: skew(-20deg) !important;
}

textarea{
  width: 100%;
}

.export{
  width: 100% !important;
}

.exportButton{
  float: left;
}

.verticalcenter{
  vertical-align: middle;
}

.error{
  width: 100%;
  min-height: 100%;
}

.footer{
  background-color: gray;
  height: 5vh;
}

.intro{
  width: 100vw;
  height: 100vh;
  display: block;
  position: relative;
  background-color: none;
}

.intro:after {
  content: "";
  background: url("http://play.pokemonshowdown.com/fx/client-bg-charizards.jpg");
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.title{
  width: 75%;
}

#navbar{
  position: fixed !important;
  z-index: 2;
  width: 100%;
}
